@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
     color: #fff;
    font-family: 'Open Sans', sans-serif;
 }

body {
    margin: 0;
    padding: 0;
}

.app {
    background-image: linear-gradient(
            55deg,
            hsl(213deg 100% 20%) 0%,
            hsl(235deg 43% 31%) 7%,
            hsl(258deg 39% 35%) 15%,
            hsl(278deg 39% 36%) 24%,
            hsl(298deg 40% 37%) 34%,
            hsl(314deg 46% 42%) 44%,
            hsl(325deg 50% 47%) 53%,
            hsl(333deg 58% 52%) 62%,
            hsl(341deg 71% 58%) 70%,
            hsl(349deg 86% 63%) 77%,
            hsl(358deg 100% 68%) 83%,
            hsl(8deg 100% 67%) 88%,
            hsl(18deg 100% 64%) 92%,
            hsl(27deg 100% 62%) 96%,
            hsl(36deg 100% 58%) 98%,
            hsl(43deg 100% 55%) 100%,
            hsl(50deg 100% 50%) 100%,
            hsl(55deg 100% 50%) 100%
    );
    display: flex;
}

.side-bar {
    background-color: #202123;
    height: 100vh;
    width: 244px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

nav {
    border-top: solid 0.5px rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
}

.history {
    padding: 10px;
    margin: 10px;
    height: 100%;
}

.history li {
    list-style-type: none;
    padding: 15px 0;
    cursor: pointer;
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.info {
    color: rgba(255, 255, 255, 0.49);
    font-size: 11px;
    padding: 10px;
}

.bottom-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    display: flex;
    position: relative;
    width: 90%;
    max-width: 650px;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 0.63);
}

input {
    width: 100%;
    border: 0;
    font-size: 20px;
    background-color: transparent;
    padding: 12px 15px;
    outline: none;
}

#submit {
    position: relative;
    top: 12px;
    right: 10px;
    cursor: pointer;
}